accelerate==0.24.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.2.1
colored==2.3.1
coloredlogs==15.0.1
compel==2.0.2
controlnet-aux==0.0.7
cuda-bindings==12.9.1
cuda-pathfinder==1.1.0
cuda-python==12.9.1
diffusers==0.24.0
einops==0.8.1
exceptiongroup==1.3.0
fastapi==0.104.1
filelock==3.13.1
fire==0.7.0
flatbuffers==25.2.10
fsspec==2024.6.1
h11==0.16.0
hf-xet==1.1.7
httptools==0.6.4
huggingface-hub==0.25.2
humanfriendly==10.0
idna==3.4
imageio==2.37.0
importlib-metadata==8.7.0
jinja2==3.1.4
lazy-loader==0.4
markdown2==2.5.4
markupsafe==2.1.5
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.9.1.4
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.9.79
nvidia-cudnn-cu11==9.10.2.21
nvidia-cudnn-cu12==8.9.4.25
omegaconf==2.3.0
onnx==1.15.0
onnx-graphsurgeon==0.5.2
onnxruntime==1.16.3
opencv-python==4.11.0.86
packaging==25.0
peft==0.6.0
pillow==10.1.0
pip==25.2
polygraphy==0.49.26
protobuf==3.20.2
psutil==7.0.0
pydantic==2.11.7
pydantic-core==2.33.2
pyparsing==3.2.3
python-dotenv==1.1.1
pyyaml==6.0.2
regex==2025.7.34
requests==2.28.1
safetensors==0.6.2
scikit-image==0.25.2
scipy==1.15.3
setuptools==80.9.0
sniffio==1.3.1
stable-fast @ https://github.com/chengzeyi/stable-fast/releases/download/v0.0.15.post1/stable_fast-0.0.15.post1+torch211cu121-cp310-cp310-manylinux2014_x86_64.whl
starlette==0.27.0
-e file:///StreamDiffusion
sympy==1.13.3
tensorrt==9.3.0.post12.dev1
tensorrt-bindings==9.3.0.post12.dev1
tensorrt-libs==9.3.0.post12.dev1
termcolor==3.1.0
tifffile==2025.5.10
timm==1.0.19
tokenizers==0.13.3
torch==2.1.0+cu121
torchvision==0.16.0+cu121
tqdm==4.67.1
transformers==4.28.0
triton==2.1.0
typing-extensions==4.12.2
typing-inspection==0.4.1
urllib3==1.26.13
uvicorn==0.24.0.post1
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
wheel==0.45.1
xformers==0.0.22.post7
zipp==3.23.0
